body, footer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > * {
    text-align: center;
}

.riddle-and-answer > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

#reset {
    margin-top: 1rem;
}
   
