* {
    background-color: black;
    color: rgb(42, 202, 55); 
    font-family: 'Courier New', Courier, monospace;
}


body, footer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > * {
    text-align: center;
}

.riddle-and-answer > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}

#answer {
    color: rgb(42, 202, 55);
    background-color: black;
    border-color: rgb(42, 202, 55);
    margin-left: 1rem;
    font-size: x-large;
    text-align: center;
}

#submit {
    border-color: rgb(42, 202, 55);
    font-size: x-large;
}

#reset {
    margin-top: 1rem;
    border-color: rgb(42, 202, 55);
}

.visible {
    visibility: visible;
}

   
